
.farm-animal {
    border: 1px solid black;
    display: inline-block;

    &__quantity {
        text-align: center;
    }
}

.cow {
    width: 30px;
}

.chicken {
    width: 30px;
}

.milk {
    width: 30px;
}