@import '../../scss/colors';

.top-bar {
    padding: $indent;
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    height: 40px;
        .nav {
            list-style-type: none;
            display: flex;
            padding: 0;    
            &-item {
                margin-right: 10px;
                padding: 10px 20px;
                align-self: center;
                background: $main-color1;
                border-radius: 5%;
                &__link {
                    color: white;
                    text-decoration: none;
                }
            }
    } 
}

.player-info {
    align-self: center;
    color: white;
}