@import '../../scss/colors';

.shop-card {
    border: 1px solid black;
    background: $main-color1;
    color: white;
    &__name {
        text-align: center;
    }

    &__price {
        text-align: center;
    }
    
    &__quantity {
        display: inline-block;
    }

    &__buttons {
        display: inline-flex;
        flex-direction: column;
    }

    &__submit {
        width: 100%;
        background: white;
    }
}